{% extends 'base.html' %}

{% block title %}
  Add your item
{% endblock %}

{% block content %}
<body class="text-center">
  <div class="container">
    <form method="POST" class="form-AddYourOwnItem" style="color:white">
      {{ form.hidden_tag() }}
      <h1 class="h3 mb-3 font-weight-normal">
                Add your Item
      </h1>

      {{ form.name.label() }}
      {{ form.name(class="form-control", placeholder="Name of the Item") }}

      {{ form.price.label() }}
      {{ form.price(class="form-control", placeholder="Price of the Item") }}

      {{ form.barcode.label() }}
      {{ form.barcode(class="form-control", placeholder="Barcode of the Item (12 digits)") }}

      {{ form.description.label() }}
      {{ form.description(class="form-control", placeholder="Description of the Item") }}

      <br>

      {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
    </form>
  </div>
</body>
{% endblock %}